.navbar {

}

.side-2 {
    float: right;
    margin: 4px;
}

.logo {
    position: relative;
    left: 600px;
    top: 100px;

}

.buttons {
    position: relative;
    left: 600px;
    top: 130px;
}

.button1 {
    border: transparent;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
}

.button2 {
    border: transparent;
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
    color: ;
}

.search1 {
    border-radius: 100px;
    position: relative;
    left: 530px;
    top: 110px;;
    height: 30px;
    border-color: lightgray;
}

.b-navbar {
    position: absolute; 
    bottom: 0;
    background-color: lightgrey;
    
    
}
.b-side2 {
    
}

#gmail {
    background: transparent;
    border: transparent;
    margin: 10px;
    left: 10px;
    position: relative;
}

#store:hover, #gmail:hover, #about:hover, #images:hover, #adv:hover, #bus:hover, #hsw:hover, #pvc:hover, #tms:hover, #sts:hover{
    color: grey;
    
}

#store {
    background: transparent;
    border: transparent;
    margin: 10px;
    position: relative;
    right: 15px;
}

#about {
    background: transparent;
    border: transparent;
    margin: 10px;
    
}

#images {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#sign-in {
    background-color: cornflowerblue;
    border: transparent;
    margin: 6px 2px;
    border-radius: 5%;
    color: white;
    padding: 5px 15px 5px 15px;
    ;
}

#adv {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#bus {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#hsw {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#pvc {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#tms {
    background: transparent;
    border: transparent;
    margin: 10px;
}

#sts {
    background: transparent;
    border: transparent;
    margin: 10px;
}